body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 20px;
  text-align: center;
  background: indigo;
  color: white;
}
.navbar {
  overflow: hidden;
  background-color: black;

  color: white;
}
.topnav {
  background-color: silver;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: yellow;
  color: black;
}


.topnav a.active {
  background-color: green;
  color: white;
}

.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}


.side {
  -ms-flex: 25%; 
  flex: 25%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {   
  -ms-flex: 75%;
  flex: 75%;
  background-color: white;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {
  box-sizing: border-box;
}

